<h2>{{movie.Title}}</h2>
<div>
  <img ng-src="{{movie.Poster}}" alt="Poster" />
  <ul>
    <li>
      Actors: {{movie.Actors}}
    </li>
    <li>
      Director: {{movie.Director}}
    </li>
    <li>
      Written by: {{movie.Writer}}
    </li>
    <li>
      Released: {{movie.Released}}
    </li>
    <li>
      Plot: {{movie.Plot}}
    </li>
    <li>
      Awards: {{movie.Awards}}
    </li>
    <li>
      Genre: {{movie.Genre}}
    </li>
    <li>
      Rated: {{movie.Rated}}
    </li>
  </ul>
</div>
